body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(90deg, #1db954, #121212);
  color: white;
}

/* TITULO */
h1 {
  text-align: center;
  padding: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* BOTÕES */
button, .btn {
  background: #1db954;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

button:hover, .btn:hover {
  background: #1ed760;
}

/* LISTA */
#lista {
  padding: 20px;
}

.musica {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.thumb {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

/* PLAYER */
#playerBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  padding: 10px;
}

#capaPlayer {
  width: 60px;
  height: 60px;
}

/* BARRA */
#barra {
  height: 5px;
  background: #333;
}

#barraPlayer {
  height: 100%;
  width: 0%;
  background: #1db954;
}