body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(90deg, #1db954, #121212);
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card,
.box {
  background: #181818;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: none;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.btn {
  background: #1db954;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #1ed760;
}

.btn-outline {
  background: transparent;
  border: 2px solid #1db954;
  color: #1db954;
}

.btn-danger {
  background: red;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.musica {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.thumb {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#playerBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  padding: 10px;
  z-index: 999;
}

#playerArea iframe {
  width: 300px;
  height: 170px;
  border-radius: 10px;
}

#lista {
  padding-bottom: 200px;
}

.controles button {
  margin: 5px;
}

#barra {
  height: 5px;
  background: #333;
}

#barraPlayer {
  height: 100%;
  width: 0%;
  background: #1db954;
}
